html {
    font-size: 16px;
    line-height: 1.625;
    color: #2020131;
    font-family: Roboto, sans-serif;
    background-color: orange;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32;
    text-align: center;
}

h2 {
    font-size: 20;
    font-weight: 600;
    text-align: left;
    padding-left: 25px;
}

.main-content {
    margin: 50px 20px 50px 20px;
    padding: 5px;
    background-color: aliceblue;
}
